# generic files to ignore
.*

# python temp paths
__pycache__/
*.py[cod]

# editors
*~
*.swp
*.swo
*#
*.cflags
*.config
*.cxxflags
*.files
*.includes
*.user
*.creator
*.creator.user

# ms-windows
Thumbs.db
ehthumbs.db
Desktop.ini

# external addons
cycles/
